<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>searchbar</ion-title>
  </ion-toolbar>

  <ion-searchbar animated
                 (ionChange)="buscar($event)"></ion-searchbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let album of albumes | filtro: txtBuscar: 'title'; let i = index">

      {{i+1}} - {{album.title}}

    </ion-item>
  </ion-list>

</ion-content>
